@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background-color: #222;
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 19px;
}

.header__search {
  display: flex;
  gap: 41px;
}

.top__content {
  background-color: #f1e4e6;
  display: flex;
  max-height: 764px;
}

.top__img {
  width: 100%;
  max-width: 800px;
}

.top__info {
  padding-top: 290px;
  padding-left: 63px;
  max-width: 800px;
}
.top__text {
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}

.title {
  color: #222;
  font-size: 48px;
  font-weight: 900;
}

.subtitle {
  color: #222;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

h2 > span {
  color: #f16d7f;
}

.offer {
  margin-top: 65px;
  margin-bottom: 96px;
}

.offer__items {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 260px 180px;
  gap: 30px;
}

.offer__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.category__card1 {
  background-image: url("./image/offer-img1.jpg");
}

.category__card2 {
  background-image: url("./image/offer-img2.jpg");
}

.category__card3 {
  background-image: url("./image/offer-img3.jpg");
}

.category__card__big {
  grid-row: 2;
  grid-column: 1/4;
  background-image: url("./image/offer-img4.jpg");
}

.offer__num {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.offer__subtitle {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.products {
  padding-bottom: 60px;
}

.product__title {
  color: rgb(34, 34, 34);
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 6px;
}

.product__subtitle {
  color: rgb(159, 159, 159);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}

.products__cards {
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product__card {
  width: 360px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.card__bg {
  background-color: #f7e4e2;
}

.card__girl {
  background-color: #f7e4e2;
  width: 141px;
  margin: 0 auto;
}

.card__info {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #f8f8f8;
}

.card__title {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.card__text {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  max-width: 315px;
}

.card__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.products__button {
  color: #f26376;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #ff6a6a;
  margin: 0 auto;
  display: block;
  padding: 15px 39px 14px;
  background-color: #fff;
}

