@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.top {
  position: relative;
  overflow: hidden;
}

.header {
  background-color: #222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 19px;
}

.header__search {
  display: flex;
  gap: 41px;
  align-items: center;
}

.header__menu {
  display: flex;
  align-items: center;
}

.top__content {
  background-color: #f1e4e6;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px)
}

.top__img {
  width: 50%;
}

.top__info {
  padding-left: 63px;
}
.top__text {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  margin-top: 48%;
}

.title {
  font-style: normal;
  color: #222;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
}

.subtitle {
  color: #222;
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 38px;
}

h2 > span {
  color: #f16d7f;
}

.offer {
  margin-top: 65px;
  margin-bottom: 96px;
}

.content {
  padding-left: 64px;
}

.offer__items {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 260px 180px;
  gap: 30px;
}

.offer__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.category__card1 {
  background-image: url("./image/offer-img1.jpg");
}

.category__card2 {
  background-image: url("./image/offer-img2.jpg");
}

.category__card3 {
  background-image: url("./image/offer-img3.jpg");
}

.category__card__big {
  grid-row: 2;
  grid-column: 1/4;
  background-image: url("./image/offer-img4.jpg");
}

.offer__num {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.offer__subtitle {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.products {
  padding-bottom: 60px;
}

.product__title {
  color: rgb(34, 34, 34);
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 6px;
}

.product__subtitle {
  color: rgb(159, 159, 159);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
}

.products__cards {
  margin-top: 48px;
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.product__card {
  width: 360px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.card__bg {
  background-color: #f7e4e2;
}

.card__girl {
  background-color: #f7e4e2;
  width: 141px;
  margin: 0 auto;
}

.card__info {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #f8f8f8;
}

.card__title {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.card__text {
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  max-width: 315px;
}

.card__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.products__button {
  color: #f26376;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #ff6a6a;
  margin: 0 auto;
  display: block;
  padding: 15px 39px 14px;
  background-color: #fff;
}

@media (max-width: 1024px){
  .center {
    padding-left: calc(50% - 376px);
    padding-right: calc(50% - 376px);
  }

  .brand__img {
    max-width: 384px;
  }

  .top__info {
    padding-left: 39px;
  }

  .title {
    font-size: 44px;
    line-height: normal;
  }

  .subtitle {
    font-size: 24px;
  }

  .content {
    padding-left: 16px;
  }
  .offer__items {
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: 167px 116px;
    gap: 19px;
  }
  .product__title {
    margin-bottom: 3px;
  }

  .products__cards {
    margin-top: 72px;
    margin-bottom: 33px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

}
